{% extends "base.html" %}

{% block title %} Insights {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="page-inner mt-5">
        <div class="page-header mt-5">
        <div class="container-fluid">
            <div class="card card-stats card-info card-round">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="flaticon-interface-6"></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                
                                <h8 class="card-title">COMPANY HISTORY</h8>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Average Cost</div>
                        </div>
                        <div class="card-body">
                            <div class="chart-container">
                                <canvas id="lineChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Rating</div>
                        </div>
                        <div class="card-body">
                            <div class="chart-container">
                                <canvas id="lineChart2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Track your Triggers</div>
                        </div>
                        <div class="card-body">
                            <div class="chart-container">
                                <canvas id="barChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Skin Roughness</div>
                        </div>
                        <div class="card-body">
                            <div class="chart-container">
                                <canvas id="lineChart3"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            
            
                
            
            
        </div>
        </div>
    </div>

{% endblock content %}
<!-- Specific JS goes HERE -->


{% block javascripts %}
    <script>
        var lineChart = document.getElementById('lineChart').getContext('2d');
        var lineChart2 = document.getElementById('lineChart2').getContext('2d');
        
        var barChart = document.getElementById('barChart').getContext('2d');
        var lineChart3 = document.getElementById('lineChart3').getContext('2d');
    

        var myLineChart = new Chart(lineChart, {
            type: 'line',
            data: {
                labels: ["2016", "2017", "2018", "2019", "2020", "2021"],
                //labels : {{labels}},
                datasets: [{
                    label: "Average Cost",
                    borderColor: "#1d7af3",
                    pointBorderColor: "#FFF",
                    pointBackgroundColor: "#1d7af3",
                    pointBorderWidth: 2,
                    pointHoverRadius: 4,
                    pointHoverBorderWidth: 1,
                    pointRadius: 4,
                    backgroundColor: 'transparent',
                    fill: true,
                    borderWidth: 2,
                    data: {{avg_cost}},
                }]
            },
            options : {
                responsive: true, 
                maintainAspectRatio: false,
                legend: {
                    position: 'bottom',
                    labels : {
                        padding: 10,
                        fontColor: '#1d7af3',
                    }
                },
                tooltips: {
                    bodySpacing: 4,
                    mode:"nearest",
                    intersect: 0,
                    position:"nearest",
                    xPadding:10,
                    yPadding:10,
                    caretPadding:10
                },
                layout:{
                    padding:{left:15,right:15,top:15,bottom:15}
                }
            }
        });


        var myLineChart2 = new Chart(lineChart2, {
            type: 'line',
            data: {
                labels: ["2016", "2017", "2018", "2019", "2020", "2021"],
                //labels : {{labels}},
                datasets: [{
                    label: "Rating",
                    borderColor: "#990e89",
                    pointBorderColor: "#FFF",
                    pointBackgroundColor: "#990e89",
                    pointBorderWidth: 2,
                    pointHoverRadius: 4,
                    pointHoverBorderWidth: 1,
                    pointRadius: 4,
                    backgroundColor: 'transparent',
                    fill: true,
                    borderWidth: 2,
                    data: {{rating}},
                }]
            },
            options : {
                responsive: true, 
                maintainAspectRatio: false,
                legend: {
                    position: 'bottom',
                    labels : {
                        padding: 10,
                        fontColor: '#990e89',
                    }
                },
                tooltips: {
                    bodySpacing: 4,
                    mode:"nearest",
                    intersect: 0,
                    position:"nearest",
                    xPadding:10,
                    yPadding:10,
                    caretPadding:10
                },
                layout:{
                    padding:{left:15,right:15,top:15,bottom:15}
                }
            }
        });
        var myBarChart = new Chart(barChart, {
			type: 'bar',
			data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                //labels : {{trigger_x|safe}},
				//labels: {{trigger_x}},
				datasets : [{
					label: "Triggers",
					backgroundColor: "#0e9984",
					borderColor: "#0e9984",
				    //data: {{trigger_y}},
                    //data : [4, 4, 2],
                    data : [4,3,4,5,6,7,3,2,4,5,6,7],
				}],
			},
			options: {
				responsive: true, 
				maintainAspectRatio: false,
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero:true
						}
					}]
				},
			}
		});
        var myLineChart3 = new Chart(lineChart3, {
            type: 'line',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                //labels : {{labels}},
                datasets: [{
                    label: "Skin Roughness",
                    borderColor: "#990e1c",
                    pointBorderColor: "#FFF",
                    pointBackgroundColor: "#990e1c",
                    pointBorderWidth: 2,
                    pointHoverRadius: 4,
                    pointHoverBorderWidth: 1,
                    pointRadius: 4,
                    backgroundColor: 'transparent',
                    fill: true,
                    borderWidth: 2,
                    //data: {{rough}},
                    data:[1,2,3,4,5,6,7,8,9,1,2,3],
                }]
            },
            options : {
                responsive: true, 
                maintainAspectRatio: false,
                legend: {
                    position: 'bottom',
                    labels : {
                        padding: 10,
                        fontColor: '#990e1c',
                    }
                },
                tooltips: {
                    bodySpacing: 4,
                    mode:"nearest",
                    intersect: 0,
                    position:"nearest",
                    xPadding:10,
                    yPadding:10,
                    caretPadding:10
                },
                layout:{
                    padding:{left:15,right:15,top:15,bottom:15}
                }
            }
        });


    </script>

{% endblock javascripts %}