<!-- Sidebar -->
<div class="sidebar sidebar-style-2 sidebarBG"> 	
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-primary">
                <li class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a  href="/">
                        <i class="fas fa-home"></i>
                        <p>DashBoard</p>
                    </a>
                    <a  href="/insights">
                        <i class="fas fa-line-chart"></i>
                        <p>Insights</p>
                    </a>
                    <a  href="/history">
                        <i class="fas fa-fa-history"></i>
                        <p>History</p>
                    </a>
                </li> 
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                </li>
                <li class="mx-4 mt-2">
                    <a target="_blank"
                        href="https://github.com/KamaljeetSahoo/Project-Assort" 
                        class="btn btn-block github-btn">
                        <span class="btn-label mr-2 "> <i class="fab fa-github"></i> </span>Github Repository</a> 
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->
